/CompuMaster.Test.Tools.Data/obj
/CompuMaster.Test.Tools.Data/bin
/CompuMaster.Data/bin
/CompuMaster.Test.Tools.Data/libs
/CompuMaster.Data/obj
/.vs
/CompuMaster.Data/CompuMaster.Data.vbproj.user
/packages
/CompuMaster.Data.Controls.Debug/obj
/CompuMaster.Data.Controls.Debug/bin
/CompuMaster.Data.Controls/obj
/CompuMaster.Data.Controls/bin
/TestResults
/CompuMaster.Data.Controls/New-NuGetPackages
/CompuMaster.Data/New-NuGetPackages
/CompuMaster.Test.Tools.Data/TestResults
/CompuMaster.Test.Web.Net20/Bin/CompuMaster.Data.xml
/CompuMaster.Test.Web.Net20/Bin/CompuMaster.Data.dll
/CompuMaster.Test.Web.Net20/Bin/CompuMaster.Data.pdb
/CompuMaster.Test.Web.Net20/Bin/Npgsql.xml
/CompuMaster.Test.Web.Net20/Bin/Npgsql.dll
/CompuMaster.Test.Web.Net20/Bin/Npgsql.pdb
/CompuMaster.Test.Web.Net45/Bin/Oracle.ManagedDataAccess.dll
/CompuMaster.Test.Web.Net45/Bin/MySql.Data.dll
/CompuMaster.Test.Web.Net45/Bin/CompuMaster.Data.pdb
/CompuMaster.Test.Web.Net45/Bin/CompuMaster.Data.xml
/CompuMaster.Test.Web.Net45/Bin/Npgsql.dll
/CompuMaster.Test.Web.Net45/Bin/Npgsql.pdb
/CompuMaster.Test.Web.Net45/Bin/Npgsql.xml
/CompuMaster.Test.Web.Net45/Bin/CompuMaster.Data.dll
/CompuMaster.Data.Web/obj
/CompuMaster.Data.Web/bin
/CompuMaster.Test.Web.DataUpdate/App_Data/test.mdb
/CompuMaster.Test.Web.DataUpdate/Bin/CompuMaster.Data.Web.pdb
/CompuMaster.Test.Web.DataUpdate/Bin/CompuMaster.Data.Web.xml
/CompuMaster.Test.Web.DataUpdate/Bin/CompuMaster.Data.xml
/CompuMaster.Test.Web.DataUpdate/Bin/Npgsql.dll
/CompuMaster.Test.Web.DataUpdate/Bin/Npgsql.xml
/CompuMaster.Test.Web.DataUpdate/Bin/CompuMaster.Data.dll
/CompuMaster.Test.Web.DataUpdate/Bin/CompuMaster.Data.Web.dll
