<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Hinweis: Als Alternative zum manuellen Bearbeiten dieser Datei können Sie das 
    Webverwaltungstool zum Konfigurieren der Einstellungen für Ihre Anwendung verwenden. Verwenden 
    Sie die Website->Asp.Net-Konfigurationsoption in Visual Studio.
    Eine vollständige Liste der Einstellungen und Kommentare finden Sie in 
    "machine.config.comments" (üblicher Speicherort:  
    \Windows\Microsoft.Net\Framework\vx.x\Config) 
-->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </configSections>
  <appSettings />
  <connectionStrings />
  <!--
    Eine Beschreibung der Änderungen von 'web.config' finden Sie unter 'http://go.microsoft.com/fwlink/?LinkId=235367'.

    Die folgenden Attribute können für die <httpRuntime>-Kennung festgelegt werden.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <trust level="Medium" />
    <!-- 
            Legen Sie die Kompilierung auf debug="true" fest, um Debugsymbole 
            in die kompilierte Seite einzufügen. Da sich dies 
            auf die Leistung auswirkt, legen Sie diesen Wert nur 
            während der Entwicklung auf "true" fest.
        -->
    <compilation debug="true" targetFramework="4.5" />
    <!--
          Der Abschnitt <authentication> ermöglicht die Konfiguration 
          des Sicherheitsauthentifizierungsmodus, der von 
          ASP.NET zum Identifizieren eines eingehenden Benutzers verwendet wird. 
        -->
    <authentication mode="Windows" />
    <!--
           Der Abschnitt <customErrors> ermöglicht die Konfiguration 
           der Vorgehensweise beim Auftreten eines nicht behandelten Fehlers 
           während der Ausführung einer Anforderung. Insbesondere 
           ermöglicht er Entwicklern die Konfiguration von HTML-Fehlerseiten, 
           die anstelle einer Fehlerstapelüberwachung angezeigt werden.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    <remove invariant="MySql.Data.MySqlClient" /><add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>