<?xml version="1.0"?>
<!-- 
    Hinweis: Als Alternative zum manuellen Bearbeiten dieser Datei können Sie das 
    Webverwaltungstool zum Konfigurieren der Einstellungen für Ihre Anwendung verwenden. Verwenden 
    Sie die Website->Asp.Net-Konfigurationsoption in Visual Studio.
    Eine vollständige Liste der Einstellungen und Kommentare finden Sie in 
    "machine.config.comments" (üblicher Speicherort:  
    \Windows\Microsoft.Net\Framework\vx.x\Config) 
-->
<configuration>
  <appSettings/>
  <connectionStrings/>
  <system.web>
    <trust level="Medium"/>
    <!-- 
            Legen Sie die Kompilierung auf debug="true" fest, um Debugsymbole 
            in die kompilierte Seite einzufügen. Da sich dies 
            auf die Leistung auswirkt, legen Sie diesen Wert nur 
            während der Entwicklung auf "true" fest.
        -->
    <compilation debug="true"/>
    <!--
          Der Abschnitt <authentication> ermöglicht die Konfiguration 
          des Sicherheitsauthentifizierungsmodus, der von 
          ASP.NET zum Identifizieren eines eingehenden Benutzers verwendet wird. 
        -->
    <authentication mode="Windows"/>
    <!--
           Der Abschnitt <customErrors> ermöglicht die Konfiguration 
           der Vorgehensweise beim Auftreten eines nicht behandelten Fehlers 
           während der Ausführung einer Anforderung. Insbesondere 
           ermöglicht er Entwicklern die Konfiguration von HTML-Fehlerseiten, 
           die anstelle einer Fehlerstapelüberwachung angezeigt werden.

           <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
             <error statusCode="403" redirect="NoAccess.htm" />
             <error statusCode="404" redirect="FileNotFound.htm" />
           </customErrors>
        -->
  </system.web>
</configuration>